//! **************************************************************************
// Written by: Map P.20131013 on Sat Mar 18 23:20:12 2023
//! **************************************************************************

SCHEMATIC START;
COMP "ld<2>" LOCATE = SITE "P54" LEVEL 1;
COMP "ld<3>" LOCATE = SITE "P53" LEVEL 1;
COMP "ld<4>" LOCATE = SITE "P52" LEVEL 1;
COMP "ld<5>" LOCATE = SITE "P51" LEVEL 1;
COMP "ld<6>" LOCATE = SITE "P50" LEVEL 1;
COMP "ld<7>" LOCATE = SITE "P43" LEVEL 1;
COMP "clk" LOCATE = SITE "P56" LEVEL 1;
COMP "sw<0>" LOCATE = SITE "P101" LEVEL 1;
COMP "sw<1>" LOCATE = SITE "P95" LEVEL 1;
COMP "sw<2>" LOCATE = SITE "P89" LEVEL 1;
COMP "sw<3>" LOCATE = SITE "P84" LEVEL 1;
COMP "bt<0>" LOCATE = SITE "P38" LEVEL 1;
COMP "sw<4>" LOCATE = SITE "P78" LEVEL 1;
COMP "bt<1>" LOCATE = SITE "P36" LEVEL 1;
COMP "sw<5>" LOCATE = SITE "P69" LEVEL 1;
COMP "bt<2>" LOCATE = SITE "P24" LEVEL 1;
COMP "sw<6>" LOCATE = SITE "P48" LEVEL 1;
COMP "bt<3>" LOCATE = SITE "P12" LEVEL 1;
COMP "sw<7>" LOCATE = SITE "P47" LEVEL 1;
COMP "rst" LOCATE = SITE "P41" LEVEL 1;
COMP "ld<0>" LOCATE = SITE "P59" LEVEL 1;
COMP "ld<1>" LOCATE = SITE "P58" LEVEL 1;
NET "clk_BUFGP/IBUFG" BEL "clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

