//! **************************************************************************
// Written by: Map P.20131013 on Sun Mar 26 15:40:54 2023
//! **************************************************************************

SCHEMATIC START;
COMP "clk" LOCATE = SITE "P129" LEVEL 1;
COMP "rst" LOCATE = SITE "P119" LEVEL 1;
COMP "mosi" LOCATE = SITE "P120" LEVEL 1;
COMP "ld<0>" LOCATE = SITE "P59" LEVEL 1;
COMP "ld<1>" LOCATE = SITE "P58" LEVEL 1;
COMP "ld<2>" LOCATE = SITE "P54" LEVEL 1;
COMP "ld<3>" LOCATE = SITE "P53" LEVEL 1;
COMP "ld<4>" LOCATE = SITE "P52" LEVEL 1;
COMP "ld<5>" LOCATE = SITE "P51" LEVEL 1;
COMP "ld<6>" LOCATE = SITE "P50" LEVEL 1;
COMP "ld<7>" LOCATE = SITE "P43" LEVEL 1;
COMP "sw<0>" LOCATE = SITE "P101" LEVEL 1;
COMP "dig_n<0>" LOCATE = SITE "P40" LEVEL 1;
COMP "dig_n<1>" LOCATE = SITE "P35" LEVEL 1;
COMP "dig_n<2>" LOCATE = SITE "P26" LEVEL 1;
COMP "dig_n<3>" LOCATE = SITE "P22" LEVEL 1;
COMP "col_n<0>" LOCATE = SITE "P23" LEVEL 1;
COMP "col_n<1>" LOCATE = SITE "P25" LEVEL 1;
COMP "col_n<2>" LOCATE = SITE "P15" LEVEL 1;
COMP "col_n<3>" LOCATE = SITE "P14" LEVEL 1;
COMP "col_n<4>" LOCATE = SITE "P8" LEVEL 1;
COMP "clk16M" LOCATE = SITE "P56" LEVEL 1;
COMP "seg_n<0>" LOCATE = SITE "P16" LEVEL 1;
COMP "seg_n<1>" LOCATE = SITE "P17" LEVEL 1;
COMP "seg_n<2>" LOCATE = SITE "P20" LEVEL 1;
COMP "seg_n<3>" LOCATE = SITE "P21" LEVEL 1;
COMP "seg_n<4>" LOCATE = SITE "P31" LEVEL 1;
COMP "seg_n<5>" LOCATE = SITE "P32" LEVEL 1;
COMP "seg_n<6>" LOCATE = SITE "P33" LEVEL 1;
COMP "seg_n<7>" LOCATE = SITE "P34" LEVEL 1;
NET "clk16M_BUFGP/IBUFG" BEL "clk16M_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

